<h1>Mercado Inteligente<h1>
<br>
<h5>Login</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSignin()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate"
               formControlName="email" placeholder="Email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"
               formControlName="password" placeholder="Senha"
               [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Login<i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Cadastrar<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
